#header{
background:#2A52BE!important;
}
.sweet-alert button {
background:#2A52BE!important;
 }
.btn-primary{
background:#3d69df!important;
border-color:#153fb0!important;
}
#mobile-nav-link ul {
border-bottom:3px solid #2A52BE!important;
}
.suggested{
background:#2A52BE!important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #fff!important;
  color:#2A52BE!important;
}
ul#user-header  li a:hover{
  color:#2A52BE!important;
}
#side-container span{
color:#2A52BE!important;
}
li.small-text a{
color:#2A52BE!important;
}
li.small-text a:hover{
color:#2A52BE!important;
}
.vote-container a{
color:#2A52BE!important;
}
.vote-container a:hover{
color:#2A52BE!important;
}
#sort-button{
background:#3d69df!important;
}
.dropdown-toggle{
background:#3d69df!important;
}
span.info-text a{
color:#2A52BE!important;
}
.btn-primary:hover{
background:#2B4DAB!important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
background-color:#2A52BE!important;
border-color:#2A52BE!important;
}
a#tab-chats{
color:#2A52BE!important;
}
a#tab-contacts{
color:#2A52BE!important;
}
.active-message{
color:#2A52BE!important;	  
 }