@import url(http://fonts.googleapis.com/css?family=Arimo:700);
h1,h2,h3,h4,h5,h6{
     font-family: 'Arimo'!important;
}
.category-tag,.suggested,.nav-link{
     font-family: 'Arimo'!important;
	 font-size:12px!important;
}
.user-tag {
     font-family: 'Arimo'!important;
	 font-size:12px!important;
}
#nav ul li a{
     font-family: 'Arimo'!important;
	 font-size:12px!important;
}
 #mobile-nav-link ul li a {
     font-family: 'Arimo'!important;
	 	 font-size:12px!important;
}
li#more a{	
 font-size:12px!important;
 padding-top:3px!important;
}