@import url(https://fonts.googleapis.com/css?family=Dosis:500);
h1,h2,h3,h4,h5,h6{
     font-family: 'Dosis'!important;
}
.category-tag,.suggested,.nav-link{
     font-family: 'Dosis'!important;
}
.user-tag{
     font-family: 'Dosis'!important;
	 font-size:14px!important;
}
#nav ul li a{
     font-family: 'Dosis'!important;
	 	 font-size:14px!important;
}
 #mobile-nav-link ul li a {
     font-family: 'Dosis'!important;
	 	 font-size:14px!important;
}
