@import url(https://fonts.googleapis.com/css?family=Monda:400,700);
h1,h2,h3,h4,h5,h6{
     font-family: 'Monda'!important;

}
.category-tag,.suggested,.nav-link{
     font-family: 'Monda'!important;
	 font-size:13px!important;
}
.user-tag{
     font-family: 'Monda'!important;
	 font-size:13px!important;
}
#nav ul li a{
     font-family: 'Monda'!important;
	 font-size:13px!important;
}
 #mobile-nav-link ul li a {
     font-family: 'Monda'!important;
	 font-size:13px!important;
}
