@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
h1,h2,h3,h4,h5,h6{
    font-family: 'PT Sans Narrow'!important;	
	 }
.category-tag{
    font-family: 'PT Sans Narrow'!important;
    font-size:15px!important;		
}
.user-tag{
     font-family: 'PT Sans Narrow'!important;
     font-size:15px!important;		 
}
.nav-link{
    font-family: 'PT Sans Narrow'!important;
    font-size:15px!important;		
}
#nav ul li a{
    font-family: 'PT Sans Narrow'!important;	
    font-size:15px!important;	
	  }
 #mobile-nav-link ul li a {
    font-family: 'PT Sans Narrow'!important;	
    font-size:15px!important;		
	}
.suggested{
    font-size:15px!important;	
}